<ion-view view-title="FitBattles">
  <!-- <div class="tabs-striped tabs-top tabs-background-light tabs-color-dark">
    <div class="tabs">
      <a class="tab-item active" href="#">
        Blah
      </a>
      <a class="tab-item" href="#">
        Blah
      </a>
      <a class="tab-item" href="#">

        Blah
      </a>
    </div>
  </div> -->
  <ion-content class="padding">
  
    <div class="list card">
      <div class="item item-divider">Hello <b>{{username}}</b>!</div>
      <div class="item item-body">
        <div>
          You gained <b>2 Points</b> for logging in today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Daily</div>
      <div class="item item-body">
        <div>
          You reached your fit goals for the day!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Top News</div>
      <div class="item item-body">
        <div>
          <b>{{username}}</b> gained <b>5</b> points for losing <b>{{weightLeft}}</b> pounds!
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

